tamp
**/*.out
**/bin/
/qemu/*-softmmu
/qemu/*-darwin-user
/qemu/*-linux-user
/qemu/*-bsd-user
/qemu/ivshmem-client
/qemu/ivshmem-server
/qemu/libdis*
/qemu/libuser
/qemu/linux-headers/asm
/qemu/qga/qapi-generated
/qemu/qapi-generated
/qemu/qapi-types.[ch]
/qemu/qapi-visit.[ch]
/qemu/qapi-event.[ch]
/qemu/qmp-commands.h
/qemu/qmp-introspect.[ch]
/qemu/qmp-marshal.c
/qemu/qemu-doc.html
/qemu/qemu-doc.info
/qemu/qemu-img
/qemu/qemu-nbd
/qemu/qemu-options.def
/qemu/qemu-options.texi
/qemu/qemu-img-cmds.texi
/qemu/qemu-img-cmds.h
/qemu/qemu-io
/qemu/qemu-ga
/qemu/qemu-bridge-helper
/qemu/qemu-monitor.texi
/qemu/qemu-monitor-info.texi
/qemu/qemu-version.h
/qemu/qemu-version.h.tmp
/qemu/module_block.h
/qemu/vscclient
/qemu/fsdev/virtfs-proxy-helper
*.[1-9]
*.a
*.aux
*.cp
*.dvi
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.gcda
*.gcno
/qemu/pc-bios/bios-pq/status
/qemu/pc-bios/vgabios-pq/status
/qemu/pc-bios/optionrom/linuxboot.asm
/qemu/pc-bios/optionrom/linuxboot.bin
/qemu/pc-bios/optionrom/linuxboot.raw
/qemu/pc-bios/optionrom/linuxboot.img
/qemu/pc-bios/optionrom/linuxboot_dma.asm
/qemu/pc-bios/optionrom/linuxboot_dma.bin
/qemu/pc-bios/optionrom/linuxboot_dma.raw
/qemu/pc-bios/optionrom/linuxboot_dma.img
/qemu/pc-bios/optionrom/multiboot.asm
/qemu/pc-bios/optionrom/multiboot.bin
/qemu/pc-bios/optionrom/multiboot.raw
/qemu/pc-bios/optionrom/multiboot.img
/qemu/pc-bios/optionrom/kvmvapic.asm
/qemu/pc-bios/optionrom/kvmvapic.bin
/qemu/pc-bios/optionrom/kvmvapic.raw
/qemu/pc-bios/optionrom/kvmvapic.img
/qemu/pc-bios/s390-ccw/s390-ccw.elf
/qemu/pc-bios/s390-ccw/s390-ccw.img
/qemu/.stgit-*
/qemu/cscope.*
tags
TAGS
docker-src.*
*~
